<div id="challenge_check_in_<%= challenge_check_in.id %>_likes" class="inline-block">
  <% if current_user && challenge_check_in.liked_by?(current_user) %>
    <%= button_to challenge_check_in_challenge_check_in_like_path(challenge_check_in), 
                method: :delete,
                class: "btn btn-xs btn-ghost gap-1 text-secondary" do %>
      <%= render Button::Component.new(icon: :heart_filled, text: challenge_check_in.challenge_check_in_likes_count, link_to: false) %>
    <% end %>
  <% else %>
    <%= button_to challenge_check_in_challenge_check_in_like_path(challenge_check_in), 
                method: :post,
                class: "btn btn-xs btn-ghost gap-1 hover:text-primary" do %>
      <%= render Button::Component.new(icon: :heart_empty, text: challenge_check_in.challenge_check_in_likes_count, link_to: false) %>
    <% end %>
  <% end %>
</div>
