<% content_for :title, @challenge_story.title %>
<div class="md:w-2/3 w-full pt-4">
  <div class="flex justify-between items-center mb-6">

    <%= link_to challenge_stories_path do %>
      <%= render Button::Component.new(color: "outline", icon: :arrow_left, text: "My Challenges") %>
    <% end %>

    <div class="flex items-center gap-3">
      <%= render 'challenge_stories/share_challenge', url: challenge_story_url(@challenge_story) %>
      <%= render 'challenge_stories/likes', challenge_story: @challenge_story %>
    </div>
  </div>

  <%= render @challenge_story, show_actions: true %>

  <%= render "rewards_section", challenge_story: @challenge_story %>

  <%= turbo_stream_from @challenge_story %>
  <%= turbo_frame_tag "challenge_story" do %>
    <%= render "challenge_stories/progress_timeline", challenge_story: @challenge_story, participants: @participants %>
  <% end %>

  <%= render "challenge_stories/add_check_in_section", current_challenge_participant: @current_challenge_participant, challenge_story: @challenge_story, time_of_a_next_check_in: @time_of_a_next_check_in %>

  <div class="divider">Check-ins</div>

  <div id="challenge_check_ins" class="w-full sm:w-auto my-5 space-y-5">
    <%= render @challenge_story.challenge_check_ins %>
  </div>

  <div class="divider"></div>

  <% if @current_challenge_participant&.active? %>
    <div class="text-center mt-4">
      <%= button_to 'Leave Challenge',
        challenge_participant_path(@current_challenge_participant),
        method: :delete,
        class: 'btn btn-error',
        data: { turbo_confirm: "Are you sure you want to leave this challenge?" }
      %>
    </div>
  <% end %>


</div>